header {
  display: flex;
  width: 100%;
}
header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  margin-right: 30px;
}
header ul li a {
  text-transform: uppercase;
  color: #0d0d3c;
  text-decoration: none;
  font-size: 13px;
}